<div class="col-md-4 offset-md-4" style="padding-top: 80px">
    <!-- pour diviser la page d'affichage en 4-->


    <form action="signIn" method="post">
        <div class="form-group">
            <h4 class="text-center" of>Sign In</h4>
           
            <label for="email">Email: </label>
            <input type="email" name="email" placeholder="enter your email" class="form-control">
        </div>
        <br>
        <div class="form-group">
            <labe for="password">PassWord: </labe>
            <input type="password" name="password" placeholder="enter your password" class="form-control">
        </div><br>
       
        <br><br>

        <button type="submit" class="btn btn-primary offset-md-4">Sign In</button>

    </form>
    </di>